<div class="footer-block {{footer-title}}">
    <h2 class="footer-title">{{title}}</h2>
    <a href={{link1}} class="footer-link">{{link-title1}}</a>
    <a href={{link2}} class="footer-link">{{link-title2}}</a>
    <a href={{link3}} class="footer-link">{{link-title3}}</a>
</div>